In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
data = pd.read_csv('./diabetes_data.csv')

In [3]:
data.head()

   GAD   AGE   BMI   HbA1c   HOMA_IR   HOMA_Beta
0  291    97    41    9.00      0.82        22.56
1  573    87    36   13.69      2.74        17.75
2  820    46    21    8.70      1.00       102.04
3  329    86    45    7.14      1.13        28.07
4  230    97    25    7.32      1.54        15.41