In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [9]:
data = pd.read_csv('./diabetes_data.csv')

In [10]:
data.head()

   GAD   AGE   BMI   HOMA_IR   HOMA_Beta
0  590    91    45      2.39         8.06
1  725    28    45      1.20        10.97
2  390    72    43      2.45        13.28
3   70    46    21      4.17        26.01
4  670     8    38      1.92        52.43